# Node
node_modules/
npm-debug.log*
dist/
.env
.env.local

# .NET build output
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json

# Deployment artifacts
publish/
*.zip

# Mac
.DS_Store

# Temp files
/tmp/
*.mp4

# Logs
logs/
*.log